version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: edutrack_backend_dev
    env_file: .env
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    depends_on:
      - db
    environment:
      - PYTHONUNBUFFERED=1
      - PYTHONDONTWRITEBYTECODE=1
      - FORCE_COLOR=1  # ডকারকে কালার দেখাতে বাধ্য করবে
      - TERM=xterm-256color # টার্মিনাল টাইপ সেট করা

  db:
    image: postgres:16
    container_name: edutrack_db_dev
    env_file: .env
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
